{% extends 'base.html' %}

{% block title %} Cart Page{% endblock title %}
{% block body %}

<div class='container'>
    <marquee direction = "left" style="color:rgb(21, 193, 245); text-align: center; font-size: 3rem; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing: 0.5rem;"><span>&#128519</span> Welcome To Smart Bites <span>&#128519</span></marquee>
</div>
<marquee behavior="slide" direction="up"><img src="/static/images/wings1.png" alt=""><span style="float: right;"><img src="/static/images/wings1.png" alt=""></span></marquee>


<br>
<br>
<section class="about" id="about">
    <h1 class="heading" style="color:rgb(161, 243, 10); text-align: center; font-size: 4rem; font-family: 'Times New Roman', Times, serif;"> Why Choose Us? </h1>

    <div class="row">

        <div class="image">
            <img src="/static/images/about-img.png" alt="">
        </div>
        <div class="content">
            <br>
            <h3 style="color: rgb(250, 195, 14); font-size: 2rem;">Best Food In The Country</h3>
            <p style="color:rgb(9, 229, 245);">Quality of Service, Food, Ambiance and Value of Money are the primary elements for choosing a restaurant. Smart Bites is one of the most exquisite fine-dinning restaurant in twin cities with a captivating view of Murree Hills, perfect ambiance and scrumptious food. Our team is always looking forward to provide you exceptional services and win your hearts out.</p>
            <p style="color:rgb(9, 229, 245);">Smart Bites is a place for peace lovers where you can indulge yourself into enchanting bliss of colossal contours of Pines Golf Course and when you are done with golfing, eat at Smart Bites Restaurant , and chill and relax at Gold Fitness Club & Spa.</p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-shipping-fast"></i>
                    <span>free delivery</span>
                </div>
                <div class="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <span>easy payments</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>24/7 service</span>
                </div>
            </div>
           
        </div>

    </div>

</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% endblock body %}